<?xml version="1.0"?>
<launch>
    <include file="$(find dragonfly_speech_recognition)/example_launch/example.launch" />
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
    <node args="$(find approach_control_config)/maps/map.yaml" name="map_server" output="screen" pkg="map_server" type="map_server"/>
    <include file="$(find approach_control_launch)/launch/amcl_diff.launch"/>
    <node name="move_base" output="screen" pkg="move_base" respawn="false" type="move_base">
        <rosparam command="load" file="$(find approach_control_launch)/config/costmap_common_params.yaml" ns="global_costmap"/>
        <rosparam command="load" file="$(find approach_control_launch)/config/costmap_common_params.yaml" ns="local_costmap"/>
        <rosparam command="load" file="$(find approach_control_launch)/config/local_costmap_params.yaml"/>
        <rosparam command="load" file="$(find approach_control_launch)/config/global_costmap_params.yaml"/>
        <rosparam command="load" file="$(find approach_control_launch)/config/base_local_planner_params.yaml"/>
        <!-- <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" /> -->
    </node>
    <include file="$(find approach_control_launch)/launch/bring_up_robot.launch" />
    <include file="$(find approach_control_launch)/launch/start_arm_motors.launch" />
    <node name="soundplay_node" output="screen" pkg="sound_play" type="soundplay_node.py" />
    <node name="play" output="screen" pkg="approach_control_speech" type="play.py">
        <param name="voice" value="voice_cmu_us_clb_arctic_clunits"/>
    </node>
    <node name="camera" output="screen" pkg="uvc_camera" type="uvc_camera_node" >
        <rosparam command="load" file="$(find approach_control_launch)/config/camera.yaml"/>
    </node>
    <!-- <node name="get_distance" pkg="approach_control_people" type="pub_distance.py" /> -->
    <node name="sm_distance" pkg="approach_control_sm" type="sm_test_01.py" />
    <node args="-d $(find approach_control_launch)/config/navigation.rviz" name="rviz" pkg="rviz" type="rviz" respawn="true"/>
    <node name="sm_viewer" pkg="smach_viewer" type="smach_viewer.py" />
</launch>