<?xml version="1.0"?>
<launch>
    <!-- <node name="execute_gesture" pkg="approach_control_manipulator" type="execute_gesture.py" /> -->
    <node name="gesture_srv" pkg="approach_control_manipulator" type="gesture_srv.py" />
    <node name="check_voltage" pkg="approach_control_manipulator" type="check_voltage.py" />
    <node name="sm_test" pkg="approach_control_sm" type="sm_test_10.py" />
</launch>
